include header

div.container-content
    h1 My articles
    div
        a(href="/articles/new") Create new article
    
    div
        each article in articles
            div.article-card
                div
                    a(href=`/articles/${article.url}`)= article.title
                    hr
                div
                    a(href=`/articles/${article.url}/edit`) Edit
                    form(method="POST", action=`/articles/${article.url}/delete`, style="display:inline")
                        button.button_delete(type="submit") Delete