include header

div
    h1 Hi, #{username}
    h2 Dashboard
    ul
        li
            a(href="/dashboard/users") Users
        li
            a(href="/dashboard/articles") Articles
        li
            a(href="/dashboard/comments") Comments




