include header

div.dashboard_header
    h1 Hi, #{username}
    h2 Dashboard
    ul.dashboard_tabs
        li
            a(href="/dashboard/users") Users
        li
            a(href="/dashboard/articles") Articles
        li
            a(href="/dashboard/comments") Comments




