include header

div.container-content
  h1 Reset password
  if error
    p(style="color:red")= error
  if message
    p(style="color:green")= message
  form(method="POST")
    div
        input(type="email", name="email", placeholder="Email", required)
    div
        button(type="submit") Send reset link