include header

.container
    
    h1 Home

    if articles.length === 0
        p No articles found.
    else
        h2 Popular articles
    each article in articles
        div
           if article.author
               p Author: #{article.author.username}
           else
               p Unknown author
        h5
            if email
                a(href=`/articles/${article.url}`)= article.title
            else
                a(href=`/login`)= article.title
