include header

.container
    
    h1 Home

    if articles.length === 0
        p No articles found.
    else
        h2 Popular Articles
    each article in articles
        div
           if article.author
               p Автор: #{article.author.username}
           else
               p Автор неизвестен
        h5
            a(href=`/articles/${article.url}`)= article.author && article.author.title ? article.author.title : article.title
