include header

.container
    
    h1 Home

    if articles.length === 0
        p No articles found.
    else
        h2 Popular articles
    each article in articles
        div
           if article.author
               p Author: #{article.author.username}
           else
               p Unknown author
        h5
            a(href=`/articles/${article.url}`)= article.author && article.author.title ? article.author.title : article.title
