include header

.container
  h1 Enter new password
  if error
    p(style="color:red")= error
  form(method="POST")
    input(type="password", name="password", placeholder="New password", required)
    button(type="submit") Change password