include header

div
    h1 Reset Password
    if error
      p(style="color:red")= error

    form(method="POST" action="/reset-password")
      div
        input(type="password" name="password" placeholder="New Password" required)
      div
        button(type="submit") Reset Password
  h1 Enter new password
  if error
    p(style="color:red")= error
  form(method="POST")
    input(type="password", name="password", placeholder="New password", required)
    button(type="submit") Change password